.app.dark {
    --bg-color: #09095c;
    --inverted-bg-color:#d6d6f0;

    --primary-color: rgb(7, 122, 7);
    --secondary-color: rgb(37, 201, 37);
    --inverted-primary-color: rgb(11, 31, 143);
    --inverted-secondary-color: rgb(61, 85, 226);
}