.app.light {
    --bg-color: #d6d6f0;
    --inverted-bg-color: #09095c;
    --primary-color: rgb(11 31 143);
    --secondary-color: rgb(61 85 226);
    --inverted-primary-color: rgb(7 122 7);
    --inverted-secondary-color: rgb(37 201 37);
}
